body {
    background: #00330b;
    color: #ffffff;
    font-family: Helvetica;
    padding: 50px;
}

h1 {
    padding-left: 45%;
    border-bottom: 1px solid #ffffff;
}

.heading {
    font-size: 2em;
    font-weight: bold;
}

.bullet{
    font-size: 1em;
}

.bullet-subset {
    font-style: italic;
    font-size: 0.7em;
}

