body {
    background: #121212;
    color: #ffffff;
    font-family: Helvetica;
    padding: 50px;
}

.heading {
    font-size: 2em;
    font-weight: bold;
}

.bullet{
    font-size: 0.8em;
}

.bullet-subset {
    font-style: italic;
    font-size: 0.3em;
}